.dashboard{
    background-image: linear-gradient(#9626FB, #9626FB);
}
.heading{
    padding: 15px;
}
#list{
    padding-top: 5px;
    padding-left: 20px;
    font-size: 14px;
}
.hover{
    
    font-weight: bold;
}