.containList{
    padding: 20px 20px;
}
.buttons{
    padding: 0px 0 0 85%;
}
.buttonStudent{
    display: flex;
    flex-direction: row;
    padding: 20px 0 10px 0%;
}
.list{
    margin: 0px 30px 0px 0px;
}
.listitem{
    height: 60px;
    width: 100%;
    background-color: #97A956;
    border-radius: 20px;
}
main ol {
    list-style: none;
}
.listitem p{
    padding: 6px;
    margin: 0;
    margin-left: 30px;
    font-size: 18px;
    float: left;
}
.changeButton{
    padding-top: 14px;
    float: right;
    margin-right: 40px;
}
.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
}
.search{
    display: flex;
}


